/players.csv
/BFL_Script_LocalOnly.py
/config_private.ini
.ipynb_checkpoints
6797-rosters-nfl-1.csv
6797-transactions-nfl-1.csv
data.csv
rosters.csv
tran.p
__pycache__/RTSLeague.cpython-39.pyc
wr.txt
te.csv
te.txt
wr.csv
master.csv
k.txt
dst.txt
dst.csv
qb.csv
qb.txt
rb.csv
rb.txt
cached-rankings-data/k.csv
